body{
    background-color:#F8F8F8;
    margin:50px;
    font-family: 'Bitter', serif;
}
.body-wrapper{
    width:1600px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}
#title-card{
    width:1000px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    background-color:white;
    
    padding:30px;
    box-shadow:0px 3px 4px #808080;
}

#paragraph{
    width:1200px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
}

#mapholder{
    width:1500px;
    height:500px;
    margin:25px 50px;
    background-color:white;
    padding:50px 0px;
}

#map{
    width:1000px;
    height:500px;
    float:left;
    margin:0px 0px;
}
#info-box{
    width:400px;
    height:500px;
    float:left;
    margin:0px 50px;
    text-align:center;
}
#info-box h3,button,input{
    margin-bottom:10px;
}
#slider{
    height:100px;
}
#dynamic-data p{
    padding-top:30px;
    text-align:right;
}
#dynamic-data svg{
    width:200px;
    height:35px;
    margin-left:10px;
    border: 1px solid black;
}
.rep_rect{
    x:0;
    y:0;
    height:35;
    fill:red;
}
.dem_rect{
    x:0;
    y:0;
    height:35;
    fill:blue;
}
.other_rect{
    x:0;
    y:0;
    height:35;
    fill:green;
}
#bonus-stats{
    text-align:center;
    
}
hr{
    margin-top:50px;
}
h1 {
    text-align:center;
	font-size: 45px;
	color: #000;
}
h3 {
    text-align:center;
	font-size: 20pt;
}

svg { 
    background-color: #fff; 
}

p{
	font-size: 20px;
	color: gray;
    margin:auto;
    padding-left:30px;
    padding-right:30px;
}