body{
    background-color:#F8F8F8;
    margin:50px;
    font-family: 'Bitter', serif;
}
.body-wrapper{
    width:1600px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
}
#title-card{
    width:1000px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    background-color:white;
    
    padding:30px;
    box-shadow:0px 3px 4px #808080;
}

#paragraph{
    width:1200px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
}

#mapholder{
    width:1500px;
    height:700px;
    margin:25px 50px;
    background-color:white;
}

#map-box{
    width:1000px;
    height:600px;
    float:left;
    margin:0px 0px;
}
#info-box{
    width:400px;
    height:600px;
    float:left;
    margin:0px 50px;
}
hr{
    margin-top:50px;
}
h1 {
    text-align:center;
	font-size: 45px;
	color: #000;
}
h3 {
    text-align:center;
	font-size: 20pt;
}

svg { 
    background-color: #fff; 
}

p{
	font-size: 20px;
	color: gray;
    margin:auto;
    padding-left:30px;
    padding-right:30px;
}